@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --texto-padrao: "Poppins", "Inter",sans-serif;
    --texto-destaque: "WindSong", "Mrs Saint Delafield", cursive;

    --cor-especial: #ee4fce;
    --cor-destaque-inverso: #f59ec8;
    --cor-destaque: #FA278C;
    --cor-gradiente: linear-gradient(to down, #2D0B19, #871B41);
    --cor-fundo2: #0A0404;
    --cor-fundo3: #18060D;
    --cor-fundo4: #2D0B19;
    --cor-fundo5: #871B41;
}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    /*font-weight: 400;*/
    background-color: var(--cor-fundo2);
}


header {
    padding: 0.5rem 15%;
    background: #0a040480;
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-destaque-inverso);
    font-weight: 700;
    transition: 0.4s ease-in-out;
    border-bottom: 3px solid transparent;
}

nav ul li a:hover {
        color: var(--cor-destaque);
        border-bottom: 3px solid var(--cor-destaque);
    }

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    border-radius: 25px;
    padding-top: 3vh;
    overflow: hidden;
    
}

.hero-ilustracao-container {
    display: flex;
    width: 100%;
    max-width: 900px;
    height: 85vh;
    background-image: url(bg-hero-autora.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 25px;
    overflow: hidden;
}

.hero-infos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.profissao-digitada {
    font-family: var(--texto-destaque);
    font-size: 2.3rem;
    background: linear-gradient(to right, #ee4fce, #FA278C);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 0.5rem;
}

.button-contato-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-top: 5vh;
    margin-bottom: 7vh;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-fundo4);
    text-decoration: none;
    background-color: var(--cor-destaque);
    border: none;
    padding: 0.8rem;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    cursor: pointer;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    min-width: 8vw;
    max-width: 10vw;

    i {
        font-size: 1.5rem;
    }
}

.descricao-sobre {
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.icones {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    gap: 1rem;

    i {
        color: var(--cor-destaque);
    }
}

/*.icone {
    width: 1.5rem;
    align-self: center;
    filter: invert(100%);
}*/

.sobre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 100%;
    margin: auto;
    background-color: var(--cor-fundo3);
    border-radius: 10px;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;;
    margin-bottom: 5vh;
    color: var(--cor-destaque);
    display: flex;
    margin-bottom: 10vh;
}

.sobre-mim-textos {
    justify-content: center;
    text-align: center;
}

h2 .sobre-mim-titulo {
    font-size: clamp(1vw, 1.3rem, 5rem);
}

p .sobre-mim-desc {
    font-size: clamp(0.5vw, 0.8rem, 3rem);
}


.educacao {
    background-color: var(--cor-fundo3);
    width: 70%;
    max-width: 900px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 5vh;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2vh;
    padding-top: 2vh;

    h2 {
        text-align: center;
        padding-bottom: 2vh;
        color: var(--cor-destaque);
    }
}

.educacao-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.2vh;
    
    .curso {
        background-color: var(--cor-fundo4);
        border-radius: 5px;
        border-left: 8px solid #ee4fce;
        padding-left: 1rem;
        transition: border-width 0.4s, border-color 0.4s;
    }

    .curso:hover {
        border-left-width: 15px;
        border-color: #bd3fa4;
        cursor: pointer;
    }

    .periodo {
        font-weight: bold;
        font-size: 0.8rem;
        color: var(--cor-destaque);
    }

    .instituicao {
        color: #FA278C;
    }

    .titulacao {
        color: var(--cor-destaque-inverso);
    }
}


.skills {
    background-color: var(--cor-fundo3);
    width: 70%;
    max-width: 900px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-bottom: 3vh;
    
    h2 {
        padding-top: 2vh;
        color: var(--cor-destaque);
    }

    .skill-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 10px 40px 10px 40px;

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nome {
                font-weight: bold;
                color: var(--cor-destaque-inverso);
            }
            .porcent {
                font-weight: bold;
                color: var(--cor-destaque);
            }
        }

        .barra {
            width: 100%;
            height: 8px;
            background-color: var(--cor-destaque-inverso);
            border-radius: 5px;

            .progresso {
                height: 100%;
                background-color: var(--cor-destaque);
                border-radius: 5px;
            }
        }
    }
}

.projetos-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    width: 75%;
    max-width: 900px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo3);
    padding: 30px;
    margin-top: 5vh;
    border-radius: 5px;

    .projeto {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 2rem;
        color: var(--cor-destaque);
        background-color: var(--cor-fundo4);
        border-radius: 5px;
        box-shadow: 0 0 5px var(--cor-destaque);
        transition: 0.5s ease-in-out;
    }

    .projeto:hover {
        box-shadow: 0 0 5px var(--cor-destaque),
                    0 0 10px var(--cor-destaque),
                    0 0 15px var(--cor-destaque);
    }

    .foto {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        overflow: hidden;
        border-radius: 5px;
    }
}


footer {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-left: 3vw;
    padding-bottom: 1vh;
    height: auto;
    color: #FA278C;
    justify-content: space-between;
    gap: 15vw;
}

footer p {
    margin-bottom: 1vh;
}

.socials-footer-container {
    display: flex;
    margin-right: 3vw;
    justify-content: space-between;
    gap: 1.5vw;
}

.link-footer {
    display: flex;
    text-decoration: none;

    i {
        color: var(--cor-destaque);
        font-size: 1.5rem;
    }
}

/*Telas pequenas*/
@media screen and (max-width: 768px) {
    .hero-section {
        width: 85%;
        margin: auto;
    }
    .hero-ilustracao-container {
        width: 100%;
        max-width: 100%;
        background-image: url(mobile.jpg); /*Fazer outra img tamanho 653px largura por 517px altura*/
        background-size: cover;
    }
    .profissao-digitada {
        font-size: 2rem;
    }

    .contato {
        min-width: 4rem;
        padding: 0.6rem;
    }

    .sobre-container {
        width: 85%;
        max-width: 100%;
    }

    .educacao {
        width: 85%;
        max-width: 100%;
    }

    .skills {
        width: 85%;
        max-width: 100%;
    }
}

/*Telas maiores*/
@media screen and (min-width: 768px) {
    .skills .skill-container {
        grid-template-columns: 1fr 1fr;
    }

    .projetos-container .projeto {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .projetos-container .projeto-info {
        max-width: 70%;
    }

    .projetos-container .foto {
        aspect-ratio: 1/1;
        max-width: 30%;
        max-height: 200px;
    }
}